<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Scheduler Index</title>
</head>
<body>
    <h3>Welcome to Scheduler! (name tbd)</h3>
    <% for (let i = 0; i < schedules.length; i++) { %>
        <h4>Schedule: <% schedules[i].name %></h4>
        <h3>Date Of Event: <% schedules[i].date %></h3>
    <% } %>
</body>
</html>