<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>New Schedule</title>
</head>
<body>
    <h1>Add A New Event!</h1>
    <form action="/scheduler" method="POST">
        <label for="name">Name Of Event</label>
        <input type="text" name="name"> <br/>
        <label for="date">Choose a date</label>
        <input type="date" name="date" value="<%=date%>" min="2020-01-01" max="2030-12-31"> <br/>
        <label for="time">Choose First Time</label>
        <input type="time" name="first_time" > <br/>
        <label for="time">Choose Second Time</label>
        <input type="time" name="second_time" > <br/>
        <label for="description">Add A Description</label>
        <input type="text" name="description" placeholder="input description here"> <br/>
        <label for="username"></label>
        <input type="hidden" name="username" value="<%=currentUser.username%>">
        <input type="submit" value="Create Schedule">
    </form>
    <a href="/scheduler">
        <button>Cancel</button>
    </a>
</body>
</html>