<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head.ejs") %>
    <title>Document</title>
</head>
<body>
    <h1>Sorry, username and password not found.</h1>
    <a href="/sessions/new">
        <button>Back</button>
    </a>
</body>
</html>