<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
    <title>Document</title>
</head>
<body>
    <h1>Username already taken!</h1>
    <a href="/users/new">
        <button>Back</button>
    </a>
</body>
</html>